<input id="task-id" name="task-id" type="hidden" value="<%=@new_task.id%>">
<input id="save-task" name="save-task" type="hidden" value="<%= save_task_url %>">
<div class="controls">
  <p>
    <button id="addBar">Agregar Barra</button>
    <label for="fname">Nombre Ejercicio</label>
    <input type="text" id="fname" name="fname" value="Ingrese el nombre del ejercicio">
  </p>
  <p>
    <button id="open-vector-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Agregar Flecha</button>
  </p>
  <p>
    <button id="addText">Agregar Texto</button>
  </p>
  <p>
    <button id="addApoyoFijo">Agregar Apoyo Fijo</button>
  </p>
  <p>
    <button id="addApoyoDes">Agregar Apoyo Deslizante</button>
  </p>
  <p>
    <button id="addCircle">Agregar punto de calculo</button>
  </p>
  <p>
    <button id="addMomentum">Agregar momento</button>
  </p>
  <p>
    <button id="addEmpotramiento">Agregar Empotramiento</button>
    <button id="guardar">Guardar</button>
  </p>
</div>
<canvas id="canvas"></canvas>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del vector</h5>
        <button type="button" class="close close-vector-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <label for="vector-force"> Fuerza del vector</label>
          <input type="text" id="vector-force">
        </p>
        <p>
          <label for="vector-force"> Angulo del vector</label>
          <input type="text" id="vector-angle">
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-vector-modal" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="create-vector">Crear</button>
      </div>
    </div>
  </div>
</div>