// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.h-100{
  height: 100% !important;
}

.exercise-name-container{
  flex-direction: column;
}

.info-container{
  display: flex;
  flex-direction: column;
}

.copy-task-cointainer{
  flex-direction: column;
}